* {
    text-align: right;
}

body {
    background-image: url("background_image.jpg");
    background-size: cover;
}

h2 {
    color: white;
    text-align: center;
    border: 5px solid purple;
    cursor: pointer;
}

p{
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 120%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li {
    list-style: none;
    display: in;
}
#div1 {
    background-color: rgba(0, 0, 0, 0.5);
}

.webtext {
    border: 5px solid red;
}

.active {
    border: 5px solid blue;
}

.inactive {
    border: 5px solid yellow;
}

